In [1]:
import figured as fg
import seaborn as sns
import pandas as pd

In [2]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
iris1 = iris.groupby( ['sepal_length',  'sepal_width', 'species']).size().reset_index().rename(index=str, columns={0: "number"})

In [4]:
iris1.head()

   sepal_length  sepal_width species  number
0           4.3          3.0  setosa       1
1           4.4          2.9  setosa       1
2           4.4          3.0  setosa       1
3           4.4          3.2  setosa       1
4           4.5          2.3  setosa       1

In [5]:
import numpy
numpy.unique(iris1.species)

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [6]:
iris1.number *= 100

In [7]:
fg.scatter(
    X=iris1.sepal_length, 
    Y=iris1.sepal_width,
)

FigureWidget({
    'data': [{'mode': 'markers',
              'name': 'sepal_width',
              'type': 'sc…

In [8]:
species_groups = iris1.groupby('species')

In [9]:
type(species_groups)

pandas.core.groupby.generic.DataFrameGroupBy

In [10]:
list(species_groups.groups.keys())

['setosa', 'versicolor', 'virginica']

In [11]:
fig = fg.scatter(
    species_groups.sepal_length,
    species_groups.sepal_width,
    species_groups.number,
    L=species_groups.groups.keys(),
    showlegend=True,
    title='Discrete Categories',
)

In [12]:
fig

FigureWidget({
    'data': [{'marker': {'size': array([100, 100, 100, 100, 100, 100, 100, 100, 100, 200, 200, …

In [13]:
iris2 = iris.groupby( ['sepal_length',  'sepal_width', 'petal_length']).size().reset_index().rename(index=str, columns={0: "number"})

iris2.number *= 1000

In [14]:
iris2.head()

   sepal_length  sepal_width  petal_length  number
0           4.3          3.0           1.1    1000
1           4.4          2.9           1.4    1000
2           4.4          3.0           1.3    1000
3           4.4          3.2           1.3    1000
4           4.5          2.3           1.3    1000

In [15]:
g2 = iris2.groupby(
    numpy.digitize(
        iris2.petal_length, 
        bins=numpy.percentile(iris2.petal_length, numpy.linspace(0,100,5)),
        right=True
    )
)

In [16]:
fig2 = fg.scatter(
    g2.sepal_length,
    g2.sepal_width,
    g2.number,
#     L=g2.groups.keys(),
#     cats='petal_length',
#     n_cats=5,
    showlegend=True,
    title='Continuous Categories',
)

In [17]:
g2.groups.keys()

dict_keys([0, 1, 2, 3, 4])

In [18]:
fig2

FigureWidget({
    'data': [{'marker': {'size': array([1000]), 'sizemode': 'area'},
              'mode': 'mar…

In [19]:
from sklearn.linear_model import LinearRegression

iris['sepal_length_prediction'] = LinearRegression().fit(
    iris[['petal_width', 'sepal_width', 'petal_length']], 
    iris['sepal_length'],
).predict(
    iris[['petal_width', 'sepal_width', 'petal_length']]
)

In [20]:
fig3 = scatter_graph(
    'petal_length',
    ['sepal_length','sepal_length_prediction'],
    df=iris,
    showlegend=True,
    title='Various Columns Displayed Together',
)

NameError: name 'scatter_graph' is not defined

In [ ]:
fig3

In [ ]:
iris.petal_length

In [ ]:
pandas.Series([1,2,3])

In [ ]:
import pandas

In [ ]:
from typing import Collection

In [ ]:
isinstance(123, Collection)

In [ ]:
import itertools

def zip_cycle(*args):
	maxlen = max(len(a) for a in args)
	return itertools.islice(zip(*(itertools.cycle(a) for a in args)), maxlen)

In [ ]:
[(i,j) for (i,j) in zip_cycle(
    [1,2,3],
    ['a'],
)]

In [ ]:
(0.1).hex()

In [ ]:
bytes.fromhex('199')

In [ ]:
0x1.9999 * 2 ** -4